<div *ngIf="unit">
    <div >
        <span><b>{{unit.name}}</b></span>: <span>{{unit.cost}}</span>
        <button mat-mini-fab color="primary" (click)="storageService.add()">+</button>
    </div>
    <hr>
    <app-item-list [unit]="unit" itemType="does_cary"></app-item-list>
    <app-item-list [unit]="unit" itemType="leader"></app-item-list>
    <app-item-list [unit]="unit" itemType="options" subType="armor"></app-item-list>
    <app-item-list [unit]="unit" itemType="options" subType="heavy_weapons"></app-item-list>
    <app-item-list [unit]="unit" itemType="options" subType="weapons"></app-item-list>
    <app-item-list [unit]="unit" itemType="options" subType="cc_weapons"></app-item-list>
    <app-item-list [unit]="unit" itemType="options" subType="hand_weapons"></app-item-list>
    <app-item-list [unit]="unit" itemType="options" subType="granates"></app-item-list>
    <app-item-list [unit]="unit" itemType="options" subType="mines"></app-item-list>
    <app-item-list [unit]="unit" itemType="options" subType="consumables"></app-item-list>
</div>
    