<section *ngIf="unit">
        <mat-grid-list cols="4" rowHeight="48">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                        {{unit.name}}:{{unit.cost}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <button mat-mini-fab color="primary" (click)="storageService.add()">+</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
        </mat-grid-list>
        <div><b>Does Carry</b>:{{unit.does_cary}}</div>
        <hr>
        <mat-checkbox (change)="setHeroic($event)">
                <b>Make heroic</b>:{{60}}
        </mat-checkbox>    
        <app-item-list [unit]="unit" itemType="leader"></app-item-list>
        <app-item-list [unit]="unit" itemType="armor"></app-item-list>
        <app-item-list [unit]="unit" itemType="heavy_weapons"></app-item-list>
        <app-item-list [unit]="unit" itemType="weapons"></app-item-list>
        <app-item-list [unit]="unit" itemType="cc_weapons"></app-item-list>
        <app-item-list [unit]="unit" itemType="hand_weapons"></app-item-list>
        <app-item-list [unit]="unit" itemType="granates"></app-item-list>
        <app-item-list [unit]="unit" itemType="mines"></app-item-list>
        <app-item-list [unit]="unit" itemType="consumables"></app-item-list>    
</section>
    